.share-box {
  transition: all 0.3s;
}
.share-box:hover path {
  fill: #fff;
}
.share-link:focus .share-box-row {
  display: inline-block;
  display: flex;
}
.share-box-row {
  display: none;
  box-shadow: 0px 10px 10px rgba(201, 213, 225, 0.503415);
}
.card-img {
  border-radius: 10px 0px 0px 10px;
}
.boxes {
  box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.503415);
}
.share-box-row-arrow {
    width: 24px;
    height: 24px;
}
